<!DOCTYPE html>
<!--suppress HtmlUnknownTarget -->
<html lang="de">
    <head>
        <meta charset="UTF-8">
        <title>Factorio Calc</title>
        <link rel="stylesheet" href="../public/css/stylesheet.css" type="text/css">

        <script type="text/javascript" src="../public/Assets/Scripts/jQuery.js"></script>
        <script type="text/javascript" src="../public/js/Main.js"></script>
    </head>
    <body>
        <h1>Factorio Calculator</h1>

        <div>
            <label for="facility-names">Name des Gebäudes:</label>
            <select id="facility-names" name="facility-names">

            </select>
        </div>

        <br><br>

        <div>
            <label for="output-type">Output Angabe:</label>
            <select id="output-type" name="output-type">
                <option value="ips">Items per Second</option>
                <option value="ipm">Items per Minute</option>
                <option value="yb">Yellow Belts</option>
                <option value="rb">Red Belts</option>
                <option value="bb">Blue Belts</option>
                <option value="gb">Green Belts</option>
            </select>

            <label for="production"></label>
            <input id="production" name="production" type="number" value="0">
        </div>

        <br><br>

        <div>
            <label for="facility-amount">Gebäude verwendet:</label>
            <input id="facility-amount" type="number" value="0">
        </div>

        <br><br>

        <div>
            <button id="calculate">Calculate</button>
        </div>

    </body>
</html>